.ava756 {
	background: url("./ava7patterns_pattern_756.png");
}

.ava1496 {
	background: url("./ava7patterns_pattern_1496.png");
	background-size: 120px;
}

.div-holder {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.mytext {
	font-family: 'Catamaran', sans-serif;
	font-size: 52px;
}

.mdl-layout__header {
	background-color: rgba(235, 224, 235, .4);
	height: 80px;
}

.mdl-grid {
	margin: 40px;
	margin-top: 65px;
}

.mdl-cell--3-col {
	margin: 45px;
	margin-right: 80px;
	margin-left: 80px;
	background-color: rgba(235, 224, 235, .4);
}

.mdl-cell--7-col {
	margin: 45px;
	background-color: rgba(235, 224, 235, .4);
}

#list {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 45px;
	background-color: rgba(235, 224, 235, .8);
	color: #1A0F1C;
	size: 100%;
}

#main {
	background: url("./Veil_Nebula_-_NGC6960.jpg");
	background-size: cover;
}

#mainContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#subHeader {
	height: 20px;
	background-color: rgba(235, 224, 235, .65);
}
/*font-family: 'Oswald', sans-serif;
font-family: 'Cinzel', serif;
*/

#stripe {
	height: 2px;
	background-color: rgb(235, 224, 235);

}

#panel {
	margin: 0;
	width: 300px;
	height: 900px;
}

#container {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 100%;
	width: 100%;
}

h1 {
	font-family: 'Catamaran', sans-serif;
}

p {
	font-family: 'Catamaran', sans-serif;
}

a {
	text-decoration: none;
	color: #1A0F1C;
	font-family: 'C', sans-serif;
}
#myCanvas{
	width: 100%;
	height: 100%;
}
canvas {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
}