.ava756 {
	background: url("./ava7patterns_pattern_756.png");
}

.ava1496 {
	background: url("./ava7patterns_pattern_1496.png");
	background-size: 120px;
}

.mytext {
	font-family: 'Oswald', sans-serif;
	font-size: 52px;
}

.mdl-layout__header {
	height: 90px;
}

.mdl-grid {
	margin: 40px;
	margin-top: 65px;
}

.mdl-cell--4-col {
	margin: 10px;
	background-color: #A8AD94;
	background-size: 60px;
}

#leftDiv {
	margin: 40;
	background: url("./ava7patterns_pattern_115.png");
	background-size: 60px;
}

.mdl-cell--7-col {
	margin: 10px;
	margin-left: 60px;
	background: url("./ava7patterns_pattern_115.png");
	background-size: 60px;
}

#rightDiv {
	margin: 40px;
}

#list {
	margin: 30px;
	padding: 30px;
	background-color: ;
	color: #264d73;
}

#main {
	background: url("./ava7patterns_pattern_1181.png");
	background-size: 50px;
}

#subHeader {
	height: 35px;
	background: url("./ava7patterns_pattern_1486.png");
	background-size: 50px;
}
/*font-family: 'Oswald', sans-serif;
font-family: 'Cinzel', serif;
*/

#stripe {
	height: 2px;
	background-color: #264d73;
}

#panel {
	margin: 0;
	width: 300px;
	height: 900px;
}

#container {
	height: 400;
	width: 600;
}

canvas {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
}